body {
    font-family: "Candara Light"; color: #5e5e5e;  
}
  
.aboutcontent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
}
.aboutcontent a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.artcontent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
}
.artcontent a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.infocontent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
}
.infocontent a {
    color: black;
    padding: 12px 16px;
   
    display: block;
}

.aboutt:hover .aboutcontent {display: block;}
.artt:hover .artcontent {display: block;}
.info:hover .infocontent {display: block;}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
   
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #4d4d4d;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #967f5e;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    
    
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

}


.ph {
    text-align: center;
    font-size: 80px;    
  
}

.pho {
    text-align: center;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}
.fon{
    padding: 70px;  
}
.tex{
    font-size: 30px;
    text-align: center;
    margin: 150px;
    line-height: 50px;
    
}
.ii{
    text-align: center;
    font-size: 70px;
    margin: 100px;
    }
   
    .inst a
    {
        text-align: center;
        font-size: 60px;
        text-decoration: none;
        color: #4d4d4d;
        }
        
    
        .inst 
    {
      text-align: center;
      font-size: 60px;
      text-decoration: none;
    color: #4d4d4d;
        }
    
        .ins a
    {
        text-align: center;
        font-size: 30px;
        margin: 100px;
        text-decoration: none;
     color: #4d4d4d;
        }
    

